// Place all the styles related to the DungeonInstances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#current_room_div
  float: left
  width: 680px

.current_room
  width: 100%

#left-arrow-div
  width: 64px
  float: left
  margin-top: 308px

#top-arrow-div
  margin-left: 373px

#right-arrow-div
  float: none
  margin-top: 308px
  margin-left: 6px

#bottom-arrow-div
  clear: both
  margin-left: 373px

.direction-arrow:hover
  text-decoration: none
  text-decoration-color: white
  color: #fff
  background-color: #fff