%h1 Listing dungeon_instances

%table
  %thead
    %tr
      %th Dungeon id
      %th
      %th
      %th

  %tbody
    - @dungeon_instances.each do |dungeon_instance|
      %tr
        %td= dungeon_instance.id
        %td= link_to 'Show', dungeon_instance
        %td= link_to 'Destroy', dungeon_instance, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dungeon', dungeon_instances_path, method: :create
